@using PagedList;
@using PagedList.Mvc;
@model IPagedList<MVCWork.Models.客戶資料>

@{
    ViewBag.Title = "客戶資料";
}

@section styles{
    <link href="~/Content/PagedList.css" rel="stylesheet" />
}

@section breadcrumb{
    <li><a href="#">@ViewBag.Title</a></li>
}

<h2>客戶資料</h2>

<p>
    @Html.ActionLink("新增", "Create")
</p>

@using (Html.BeginForm("Index", "ClientData", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                客戶名稱：@Html.Editor("sQuery", new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                客戶分類：@Html.DropDownList("客戶分類", null, "請選擇", htmlAttributes: new { @class = "form-control" })
            </td>
            <td>
                <input type="submit" value="查詢" class="btn btn-default" />
            </td>
        </tr>
    </table>
}

@using (Html.BeginForm()) {

}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = ViewBag.客戶名稱SortParm })
        </th>
        <th>
            @Html.ActionLink("統一編號", "Index", new { sortOrder = ViewBag.統一編號SortParm })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = ViewBag.電話SortParm })
        </th>
        <th>
            @Html.ActionLink("傳真", "Index", new { sortOrder = ViewBag.傳真SortParm })
        </th>
        <th>
            @Html.ActionLink("地址", "Index", new { sortOrder = ViewBag.地址SortParm })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = ViewBag.EmailSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.統一編號)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.傳真)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.地址)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.Id }) |
                @Html.ActionLink("詳細資訊", "Details", new { id = item.Id }) |
                @Html.ActionLink("刪除", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
